/* Styling the title of the page */
h1 {
  background: #1a7bbc;
  font-size: 35px;
  padding: 35px;
  color: rgb(26, 23, 23);
  text-align: center;
}

/* Styling the new to do item input box */
#newInput {
  width: 25%;
  font-size: 22px;
  display: block;
  margin: 0 auto;
}

/* Styling the Add Button */
#newItem {
  margin: 0 auto;
  display: block;
  padding: 0px;
  width: 5%;
  background: #aaa2a2;
  font-size: 16px;
}

/* To Do List styling */
/* Trying to style the to do list to the middle of the screen  */
ul {
  margin: 50px;
  padding: 50px;
}

/* Style the list items */
ul li {
  position: center;
  padding: 12px 5px;
  background: rgb(221, 179, 179);
  font-size: 18px;
}

/* Changes colour on mouse hover  */
ul li:hover {
  background: rgb(182, 179, 179);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
